<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844473077697-4q5j8978fvg6b1un6jgaudr3m7a9c59s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844473077697-4q5j8978fvg6b1un6jgaudr3m7a9c59s</string>
	<key>API_KEY</key>
	<string>AIzaSyDUkhe92uHnbl8UKNN9AB0ZfqQOyjGoYtU</string>
	<key>GCM_SENDER_ID</key>
	<string>844473077697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trafficSolutionDsc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>trafficsolution-395806</string>
	<key>STORAGE_BUCKET</key>
	<string>trafficsolution-395806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844473077697:ios:9f776b0d17941915416940</string>
</dict>
</plist>